.sidebar-div{
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* To be at higher priority than header */
    z-index: 100;
}

.sidebar-buttons-div{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 0px 10px 0px;
}

.sidebar-buttons-div:hover{
    cursor: pointer;
    background-color: rgb(235,235,235);
}

.sidebar-buttons-icon-img{
    height: 30px;
}

.sidebar-buttons-text-p{
    font-size: 8px;
}